body {
    margin: 0;
    background-image: url(../images/background.jpg);
    min-width: 832px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 170px;
    background: linear-gradient(90deg,rgb(57,0,51),rgb(34,0,51)) ;
}

h1, h2 {
    display: block;
    text-align: center;
    border-radius: 50px;
    color: #F3F8FF;
    font-family: "Sofia Sans Condensed", sans-serif;
}

h2 {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 50px;
    border: 1px solid;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

button {
    width: 250px;
    height: 40px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(88,51,226);
    color: #F3F8FF;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

nav > ul  button:hover, .grid-buttons button:hover {
    background-color: #951e99;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

a {
    color: #ffffff;
}

a:hover {
    color: #b684ef;
}

a:active {
    color: #260d42;
}

legend {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 24px;
    color: rgb(225, 115, 133);
}

li {
    list-style: none;
}

label, p {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 18px;;
    color: #F3F8FF;
}

fieldset {
    border-radius: 10px;
    margin-top: 20px;
}

.label-p {
    margin: 0;
    text-align: left;
}

.submit-button {
    display: block;
    width: 240px;
    height: 50px;
    font-size: 24px;
    border-radius: 100px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: rgb(88, 148, 28);
    font-family: "Sofia Sans Condensed", sans-serif;
    color: #F3F8FF;
}

.submit-button:hover {
    background-color: rgb(63, 117, 10);
    cursor: pointer;
    font-weight: 500;
}

.nav-button {
    font-size: 16px;
    width: 160px;
    font-weight: 300;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 0;
}

.acessibility-title {
    margin-top: 40px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title, .subtitle {
    text-align: center;
    margin-top: 0;
}

.title {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

.subtitle  {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #F3F8FF;
}

.grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.student-info-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info > fieldset, .info > input, .info > select  {
    width: 100%;
    border-radius: 10px;
}

.main-screen-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.main-screen-item {
    height: 50px;
    text-align: center;
    list-style: none;
    display: block;
    margin: 10px;
    margin-top: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 245px;
    margin-left: 14%;
}

.grid-item {
    width: 650px;
    border: 1px solid #951e99;
}

.main-quiz-title {
    padding: 10px;
}

.social-medias-images {
    width: 40px;
    height: 40px;
}

.footer {
    width: 100%;
    color: #F3F8FF;
    font-family: "Sofia Sans Condensed", sans-serif;
    text-align: center;
    background-color: #260d42;
    margin-top: 170px;
    border-top: 5px solid rgb(88,51,226);
}

.footer > p {
    margin-bottom: 0;
}

#logo {
    width: max(10rem,15vw);
    aspect-ratio: 35/16;
    padding: 1rem;
}

@media(max-width: 754px) {
    .grid-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 1400px) {
    h2 {
        margin: 0;
        margin-bottom: 15px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}